body{
  margin:0;
  text-align:center;
  font-family: 'Merriweather', serif;
}
h1{
  margin-top:0;
  font-size:600%;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height:1.25;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 200%;
  font-weight:normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
a{
  color:#11999E;
}
.top-container{
  background-color:#E4F9F5;
  padding-top:200px;
  position:relative;
}
.bottom-cloud{
  position:absolute;
  left:300px;
}
.top-cloud{
  position:absolute;
  right:300px;
  top:100px;
}
#profile{
  margin-top:20px;
  width:15%;
  height:15%;
}
.imgedu{
  width:20%;
  height:20%;
  float:left;
  margin-right:30px;
}
.imgexp{
  width:20%;
  height:20%;
  float:right;
  margin-left:30px;
}
.imghobby{
  width:20%;
  height:20%;
  float:left;
  margin-right:30px;
}
.imgexp{
  width:20%;
  height:20%;
  float:right;
  margin-left:30px;
}
.tableskill{
  margin: 0 auto;
}
.exp-row{
  width:50%;
  margin: 20px auto;
  line-height:1.25;
  text-align:left;
  overflow:auto;
}
.skill-row{
  width:50%;
  margin: 20px auto;
  line-height:1.25;
  text-align:left;
  overflow:auto;
}
.education-row{
  width:50%;
  margin: 20px auto;
  line-height:1.25;
  text-align:left;
  overflow:auto;
}
.extra-row{
  width:50%;
  margin: 20px auto;
  line-height:1.25;
  text-align:left;
  overflow:auto;
}
.hobby-row{
  width:50%;
  margin: 20px auto;
  line-height:1.25;
  text-align:left;
  overflow:auto;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin-top:20px;
  margin-bottom:30px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.middle-container{

}
.bottom-container{
  background-color: lightblue;
}
